* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.stepper {
  /* width: 50%; */
  margin: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stepNumber {
  width: 50px;
  height: 50px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  margin-bottom: 15px;
  /* border: 2px solid rgb(41, 41, 41); */
  border-radius: 50%;
  z-index: 2;
}

.stepName {
  font-size: 20px;
}

.stepNumber svg {
  font-size: 30px;
}
.active .stepNumber {
  background-color: rgb(45, 86, 234);
  color: white;
}

.complete .stepNumber {
  background-color: rgb(34, 151, 34);
  color: white;
}

.progressBar {
  position: absolute;
  /* margin: 0 30px; */
  top: 10%;
  /* width: 100%; */
  left: 0;
  height: 4px;
  background-color: #ccc;
}

.progress {
  height: 100%;
  background-color: rgb(34, 151, 34);
  transition: 0.5s ease;
}

/*  */
form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

a {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  font-size: 26px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: left;
  font-size: 20px;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}
select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}
button {
  padding: 19px 39px 18px 39px;
  color: #fff;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 480px;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  display: block;
  margin: auto;
}
fieldset {
  margin-bottom: 30px;
  border: none;
}
legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}
label {
  display: block;
  margin-bottom: 8px;
}
label.light {
  font-weight: 300;
  display: inline;
}
.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}
@media screen and (min-width: 480px) {
  form {
    max-width: 480px;
  }
}
